<section class="expense-wrapper">
    <h1>Expense Form</h1>
    <div class="fields">
        <div class="row">
            <mat-form-field>
                <mat-label>Expense Name</mat-label>
                <input matInput placeholder="Enter Customer">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput type="number" placeholder="Enter Amount">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Mode</mat-label>
                <input matInput placeholder="Enter Product">
            </mat-form-field>
        </div>
    </div>
    <button mat-flat-button color="warn">Save</button>
</section>
