<section class="fuel-list-wrappper">
    <h1>Welcome, <span>Admin</span></h1>
    <div class="fuel-pump-grid">
        <mat-card class="fuel-pump-tile" *ngFor="let pump of pumps">
            <mat-card-header>
                <div class="pump-options" [ngClass]="pump.Status">
                    <mat-icon [matMenuTriggerFor]="menu">
                        more_horiz
                    </mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="handleRoute('credit', pump)">Cr.Sales</button>
                        <button mat-menu-item (click)="handleRoute('expense', pump)">Expense</button>
                        <button mat-menu-item (click)="handleRoute('collection', pump)">Collection</button>
                        <button mat-menu-item (click)="hanldeActionRoute(pump)" [disabled]="pump.Status === 'Open' ? false : true">Close</button>
                    </mat-menu>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="pump-status" [ngClass]="pump.Status">
                    <mat-icon [color]="pump.Status === 'Open' ? 'accent' : 'primary'">
                        {{ pump.Status === 'Open' ? 'download_done' :'block'  }}
                    </mat-icon>
                </div>
                <div class="pump-info">
                    <div>
                        <mat-icon>local_gas_station</mat-icon>
                        <h3>{{ pump.PumpNo }}</h3>
                    </div>
                    <p>Type: {{ pump.partno }}</p>
                    <p>Reading: {{ pump.OpReading }}</p>
                    <button *ngIf="pump.Status === 'Open'" mat-flat-button color="primary" [disabled]="true">{{ pump.OperatorName }}</button>
                    <button *ngIf="pump.Status !== 'Open'" mat-flat-button color="primary" (click)="handleAssignPump(pump)">Assign</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>
