@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


@include mat.core();

:root {
    --light-bg: #fafafa;
    --black: #131214;
}

$custom-light-primary-theme: (
    50:  #E0F2F1,
    100: #B2DFDB,
    200: #80CBC4,
    300: #4DB6AC,
    400: #26A69A,
    500: #009688,
    600: #00897B,
    700: #00796B,
    800: #00695C,
    900: #004D40,
    A100: #A7FFEB,
    A200: #64FFDA,
    A400: #1DE9B6,
    A700: #00BFA5,
    contrast: (
        50: var(--black),
        100: var(--black),
        200: var(--black),
        300: var(--black),
        400: var(--black),
        500: white,
        600: white,
        700: white,
        800: white
    )
);

$custom-dark-accent-theme: (
    50:  #FAFAFA,
    100: #F5F5F5,
    200: #EEEEEE,
    300: #E0E0E0,
    400: #BDBDBD,
    500: #9E9E9E,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
    contrast: (
        50: var(--black),
        100: var(--black),
        200: var(--black),
        300: var(--black),
        400: var(--black),
        500: white,
        600: white,
        700: white,
        800: white
    )
);

$custom-dark-primary-theme: mat.define-palette((
    50: #E1F5FE,
    100: #B3E5FC,
    200: #81D4FA,
    300: #4FC3F7,
    400: #29B6F6,
    500: #03A9F4,
    600: #039BE5,
    700: #0288D1,
    800: #0277BD,
    900: #01579B,
    contrast: (
        50: var(--black),
        100: var(--black),
        200: var(--black),
        300: var(--black),
        400: var(--black),
        500: white,
        600: white,
        700: white,
        800: white
    )
));

$custom-dark-warn-theme: (
    50: #FBE9E7,
    100: #FFCCBC,
    200: #FFAB91,
    300: #FF8A65,
    400: #FF7043,
    500: #FF5722,
    600: #F4511E,
    700: #E64A19,
    800: #D84315,
    900: #BF360C,
    contrast: (
        50: var(--black),
        100: var(--black),
        200: var(--black),
        300: var(--black),
        400: var(--black),
        500: white,
        600: white,
        700: white,
        800: white
    )
);

// Define palettes using mat.define-palette
$fuel-light-primary: mat.define-palette($custom-light-primary-theme);
$fuel-light-accent: mat.define-palette(mat.$orange-palette, 600);
$fuel-light-warn: mat.define-palette(mat.$red-palette);

$fuel-app-light-theme: mat.define-light-theme((
    color: (
        primary: $fuel-light-primary,
        accent: $fuel-light-accent,
        warn: $fuel-light-warn,
    ),
    typography: mat.define-typography-config(),
));

$fuel-dark-primary: mat.define-palette($custom-dark-primary-theme);
$fuel-dark-accent: mat.define-palette($custom-dark-accent-theme);
$fuel-dark-warning: mat.define-palette($custom-dark-warn-theme);

$fuel-app-dark-theme: mat.define-dark-theme((
    color: (
        primary: $fuel-dark-primary,
        accent: $fuel-dark-accent,
        warning: $fuel-dark-warning,
    )
));

/* Global styles */
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
}

body.app-light-theme {
    background-color: var(--light-bg);
    color: var(--black);
    @include mat.all-component-themes($fuel-app-light-theme);
}

body.app-dark-theme {
    background-color: var(--black);
    color: var(--light-bg);
    @include mat.all-component-themes($fuel-app-dark-theme);
}

mat-form-field {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background: transparent;
    }

    .mat-mdc-form-field-focus-overlay {
        background-color: transparent !important;
    }
}
